*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #efefef;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    width: 100px;
    margin-right: 45px;
}

.nav-left,
.nav-right
{
    display: flex;
    align-items: center;
}

.nav-left ul li{
    list-style-type: none;
    display: inline-block;
}

.nav-left ul li img{
    width: 28px;
    margin: 0 15px;
}

.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-user-icon{
    margin-left: 30px;
}

.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img{
    width: 18px;
}

.search-box input{
    width: 100%;
    background: transparent;
    border: 0;
    padding: 10px;
    outline: none;
}

.online{
    position: relative;
}

.online:after{
    content: '';
    width: 7px;
    position: absolute;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #14db51;
    top: 0;
    right: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
}

.left-sidebar{
    /* background:#cbdffa; */
    flex-basis: 23%;
    position: static;
    top: 70px;
    /* height: 100vh; */
    align-self: flex-start;
}

.right-sidebar{
    background:#fff;
    flex-basis: 23%;
    position: static;
    top: 70px;
    padding: 20px;
    border-radius: 10px;
    color: #626262;
    /* height: 100vh; */
    align-self: flex-start;
}

.main-content{
    flex-basis:43% ;
}


.imp-links a,
.shortcut-link a
{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}

.imp-links a img{
    width: 25px;
    margin-right: 15px;
}

.imp-links a:last-child{
    color: #1876f2;
}

.imp-links{
    border: 2px solid #ccc;
}

.shortcut-link a img{
    width: 40px;
    margin-right: 15px;
    border-radius: 4px;
}

.shortcut-link p{
    /* text-align: center; */
    font-size: 1.5em;
    margin: 20px 0;
    color: #262626;
    font-weight: bolder;
}

.sidebar-title{
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.sidebar-title h4{
    font-weight: 600;
    font-size: 25px;
}

a{
    text-decoration: none;
}

.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.event p{
    font-size: 12px;
}

.event a{
  font-size: 12px;
  color: #1876f2;
}

.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 20px;
}



.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}


.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online-list .online img{
    width: 40px;
    border-radius: 50%;
}

.online-list .online::after{
    bottom: 5px;
    top: unset;
}


.main-content .story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.story img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid #1876f2;
}

.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.story1{
    background:linear-gradient(transparent, rgba(0,0,0,5)),  url(images/member-6.png);
}

.story2{
    background:linear-gradient(transparent, rgba(0,0,0,5)),  url(images/status-1.png);
}

.story3{
    background:linear-gradient(transparent, rgba(0,0,0,5)),  url(images/status-3.png);
}

.story4{
    background:linear-gradient(transparent, rgba(0,0,0,5)),  url(images/status-4.png);
}

.story5{
    background:linear-gradient(transparent, rgba(0,0,0,5)),  url(images/status-5.png);
}

.story.story1 img{
  top: unset;
  left: 50%;
  bottom: 40px;
  border: 0;
  width: 35px;
  transform: translateX(-50%);
}


.write-post-container{
    width: 100%;
    background: white;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    /* border: 5px solid red; */
}

.user-profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    width: 45px;
    border-radius: 50%;
}

.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
    font-weight: bold;
}

.user-profile small{
    font-size: 12px;
}


.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}

.post-input-container textarea{
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}

.add-post-links{
    display: flex;
    margin-top:10px ;
}

.add-post-links a{
    text-decoration: none;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;

}

.add-post-links a img{
    width: 20px;
}

.post-container{
   width: 100%;
   background: #fff;
   border-radius: 6px;
   padding: 20px;
   color: #626262;
   margin: 20px 0;
}

.user-profile span{
    font-size: 13px;
    color: #626262;
}

.post-text{
    color:#262626 ;
    margin: 15px 0;
    font-size: 14px;
}

.post-text span{
    font-weight: 500;
    color: #626262;
}


.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icon div img {
    width: 19px;
    margin-right:10px;
}

.activity-icon div{
    display: inline-flex;
    align-items: center;
    margin-right: 60px;
}

.post-profile-icon{
    display: flex;
    align-items: center;
}

.post-profile-icon img{
    width: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

.post-row a{
   width: 20px; 
   color: #262626;
}

.load-more{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
}

.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px ;
    font-size: 13px;
}

.footer p a{
    text-decoration: none;
    color: #262626;
}

.footer p a:hover{
    color: #1876f2;
}


.settings-menu{
    position: absolute;
    width: 90%;
    background:#fff ;
    max-width: 350px;
    /* height: 500px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border-radius: 4px;
    top: 100%;
    right: 5%;
}

.settings-menu .user-profile a{
    font-size: 12px;
}

.settings-menu img{
    padding: 5px;
}

.settings-menu-inner{
    padding: 20px;
}

.settings-menu-inner hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 10px 0;
}

.settings-links{
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.settings-links .settings-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 10%;
}

.settings-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    color: #626262;
}
